<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/styles3.css">

  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
  <body>
    <% time = new Date().toLocaleTimeString() %>
    <h1>Superheroes as of <%= time %></h1>
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul>
      <% superheroes.forEach(function(superhero) { %>
        <li>
          <form 
          action="/superheroes/<%= superhero._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit" id = "delete">X</button>
        </form>
          <!-- <%= superhero.name %> -->
          <a href="/superheroes/<%= superhero._id %>"><%= superhero.name %></a>
          
            - 
          <%= superhero.superpowers ? 'Has superpowers' : 'Does not have superpowers' %>
        </li>
      <% }) %>
    </ul>
    <a href="/superheroes/new">Register a new superhero</a>
</body>
</html>
